.layout{
    max-width: 1310px;
    min-width: 580px;
    display: grid;
    grid-template-columns: auto 1fr ;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;

@media (--t) {
    max-width: 1060px;
    grid-template-columns: auto 1fr auto ;
}
@media (--d) {
    max-width: 1270px;
    grid-template-columns: auto auto auto;
}
}

