.navButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* position: fixed; */
    padding-right: 20px;

}

.birdIcon {

svg {
    width: 32px;
    height: 32px;
    color: rgb(217, 217, 217);
}

}

