.navButtons {
    display: flex;
    flex-direction: column;
    max-width: 251px;
    max-height: 1080px;
    height: 100%;
    align-items: flex-start;
    margin-left: 300px;
    position: fixed;
    border-right: #2F3336 solid .8px;
    padding-right: 20px;
}

.birdIcon {

svg {
    width: 32px;
    height: 32px;
    color: rgb(217, 217, 217);
}

}
