.profileBox{
    color: rgb(217, 217, 217);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
    border-radius: 999px;
    padding: 12px;
    position: relative;
    top: 10px;
    transition: all .1s;
}
.profileBox:hover{
    background-color: rgba(29, 161, 242, 0.1);
}
.icon{
    padding-left:25px ;
    width: 18px;
    height: 18px;
}
.profileName{
    padding-left: 12px;
}
.name{
    font-size: 18px;
    font-weight: bold;
}
.nickname{
    font-size: 18px;
    font-weight: 400;
    color: rgb(110, 118, 125);
}
