.searchBox {
    max-width: 320px;
    margin-bottom: 20px;


svg {
    position: relative;
    top: -42px;
    left: 2px;
    color: #6e767d;
    width: 20px;
    height: 20px;
    padding-left: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
}

}
.searchInput {
    background-color: rgb(32, 35, 39);
    color: white;
    padding: 15px 80px 15px 42px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid rgb(32, 35, 39);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 999px;
}


