.post {
    padding: 10px;
    max-width: 100%;
    color: white;
    border-top: 1px solid #25292c;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all .12s;

    &:hover {
    background-color: rgba(110, 118, 125, 0.1);
}

}
.postAll{
    display: flex;

    justify-content: flex-start;
}

.profileName {
    padding-left: 12px;
    padding-right: 12px;

}

.postInfo {
    display: flex;

}

.postText {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 6px;
    color: rgb(197, 197, 197);

}

.name {

    padding-left: 6px;

}

.nickname {
    color: #6e767d;
    padding-left: 6px;
}

.postTime {
    color: #6e767d;
    padding-left: 8px;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
    transition: all .15s;

svg {
    width: 28px;
    height: 28px;
    color: #6e767d;
}

}
.icon:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.iconsSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .15s;
    .bottomIcon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 99px;
    &:hover{

     background-color: rgba(29, 161, 242, 0.1);

     }
    svg {

    width: 22px;
    height: 22px;
    border-radius: 999px;
    color: #6e767d;
    &:hover {
     color: #1da1f2;

     }
    }

    }
}

