.tweetButton {
  background-color: rgb(29, 161, 242);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  border-radius: 999px;
  margin-top: 12px;
  transition: all .1s;
@media (--d) {
  padding:20px;
  width:100%;
}
}
.tweetButton:hover{
  cursor: pointer;
  background-color: rgb(29, 145, 218);
}
