@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  outline: none;
  background-color: black;
}
